@import "./variable";
@import "./mixin";

.side-bar {
  width: 300px;
  height: 100%;
  float: left;
  &__user-panel {
    background-color: $dark;
    width: 300px;
    height: 100px;
    @include basePadding;
    strong.user-name {
      color: $white;
      font-size: 16px;
      line-height: 60px;
      font-weight: bold;
    }
    i {
      color: $white;
      float: right;
      line-height: 60px;
      font-size: 14px
    }
  }
  .side-bar__group-panel {
    background-color: $lightDark;
    @include basePadding;
    height: calc(100vh - 100px);
    width: 300px;
    overflow-y: scroll;
    &__groups {
      .group__name {
        font-size: 15px;
        color: $white;
        padding-bottom: 5px;
      }
      .group__latest-message {
        font-size: 11px;
        color: $white;
        padding-bottom: 40px;
      }
    }
  }
  .side-bar__group-panel::-webkit-scrollbar {
    display: none;
  }
}
.chat-area {
  background-color: $white;
  float: left;
  width: calc(100vw - 300px);
  height: 100vh;
  position: absolute;
  left: 300px;
  &__group {
    background-color: $white;
    z-index: 1;
    width: calc(100vw - 300px);
    height: 100px;
    @include basePaddingMore;
    position: fixed;
    border-bottom: solid thin #eeeeee;
    &__description{
      width: 60%;
      height: 100px;
      float: left;
      &__name {
      font-size: 20px;
      margin: 35px auto 15px;
      }
      &__members {
        font-size: 12px;
        color: #999999;
        bottom: 0;
        display: flex;
        &__name {
          margin-right: 0.5rem;
        }
      }
    }
    &__edit {
      position: absolute;
      right: 40px;
      height: 40px;
      padding: 0 20px;
      margin-top: 28px;
      border: solid thin #38AEF0;
      &_text{
        color: $lightBlue;
        line-height: 40px;
      }
    }
  }
  &__message {
    position: absolute;
    z-index: 0;
    background-color: $lightGray;
    @include basePaddingMore(146px 40px 0);
    width: calc(100vw - 300px);
    height: 100vh;
    overflow-y: scroll;
    &__user-name {
      display: inline-block;
      float: left;
      font-size: 16px;
      font-weight: bold;
      color: #434A54;
    }
    &__date {
      display: inline-block;
      float: left;
      font-size: 12px;
      color: #999999;
      padding-left: 10px;
    }
    &__text {
      clear: both;
      font-size: 14px;
      color: #434154;
      padding: 10px 0 40px;
    }
  }
  &__message::-webkit-scrollbar {
  display: none;
  }
  &__form {
    position: fixed;
    bottom: 0;
    height: 90px;
    width: calc(100vw - 300px);
    background-color: $gray;
    @include basePaddingMore(20px 40px);
    form {
      height:50px;
      position: relative;
      display: flex;
      .input-box {
        label {
          position: absolute;
          z-index: 1;
          top: 12.5px;
          left: calc(64.5vw - 35px);
          .filelabel {
            display: inline-block;
            cursor: pointer;
            i.far.fa-image {
              font-size: 25px;
              vertical-align: bottom;
            }
          }
          .file {
             display: none;
          }
        }
        .text {
          float: left;
          height: 50px;
          width: 64.5vw;
          padding: 0 10px;
          border: hidden;
          position: relative;
        }
      }
      .button {
        float: right;
        height: 50px;
        width: 100px;
        margin: auto 0 auto 15px;
        background-color: $lightBlue;
        color: $white;
        border: hidden;
        cursor: pointer;
      }
    }
  }
}


